.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.sidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 150%;
    object-fit: cover;
    margin-right: 10px;
}